@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Merriweather:wght@700&family=Mukta:wght@600&family=Open+Sans:ital@1&display=swap');


.blog{
  max-width: 50%;
  height:auto;
  padding:1em 1em;
  margin:1em;
  display:inline-block;
}
.blog.image{
  width:75%;
  height:75%
}


.blogHeading{
  font-family: 'Merriweather', serif;
  margin-bottom: 1px;
  justify-content: center;
}
@media only screen and (max-width:768px){
  .blog{
  max-width: 90%;
  margin-left: 2px;
  height:auto;
  padding:1em 1em;
  margin:1em;
  display:inline-block;
  }
}