@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Merriweather:wght@700&family=Mukta:wght@600&family=Open+Sans:ital@1&display=swap');

.personHeading{
  font-family: 'Fondamento', cursive;
  font-size: 1em;
}
.profileBox img{
  height:150px;
  width:auto;
}
.profileBox{
  width: 150px;
  border:solid #3e3636 3px;
  align-content: center;
  background-color: #eac100;
  margin-left: 5px;
  margin-top: 20px;
}

.personHeader{
  display:flex;
}
.introduction{
  width:60%;
  background-color: #4592af;
  margin-top: 20px;
  margin-right: 4px;
}
.intro{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #feb062;
  border-radius: 20px;
  font-size: 1em;
}