.navBar{
  display:flex;
  position:fixed;
  width:99%;
  border:double 2px black;
  background-color: #22d1ee;
}
.navLinks{
  padding-right: 2px;
  margin-right: 1rem;
  color:black;
  text-decoration: none;
}
.navLinks:hover{
 opacity: 0.7;
}